USE [master]
GO
/****** Object:  Database [CRUD_CLIENTE]    Script Date: 15/08/2020 11:08:13 ******/
CREATE DATABASE [CRUD_CLIENTE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CRUD_CLIENTE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CRUD_CLIENTE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CRUD_CLIENTE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CRUD_CLIENTE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CRUD_CLIENTE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CRUD_CLIENTE]
GO
/****** Object:  Table [dbo].[tb_cliente]    Script Date: 15/08/2020 11:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_cliente](
	[id_Cliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[ap_Paterno] [varchar](50) NOT NULL,
	[ap_Materno] [varchar](50) NOT NULL,
	[celular] [int] NOT NULL,
	[correo] [varchar](50) NOT NULL,
	[direccion] [varchar](50) NOT NULL,
	[documento_Ident] [int] NOT NULL,
 CONSTRAINT [PK_tb_cliente] PRIMARY KEY CLUSTERED 
(
	[id_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[SP_Create_Cliente]    Script Date: 15/08/2020 11:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Create_Cliente]
@nombre varchar(50),
@ap_Paterno varchar(50),
@ap_Materno varchar(150),
@celular int,
@correo varchar(50),
@direccion varchar(50),
@documento_Ident int
AS
DECLARE @id_Cliente INT
BEGIN
	INSERT INTO tb_cliente (nombre,ap_Paterno,ap_Materno,celular,correo,direccion,documento_Ident) VALUES(@nombre,@ap_Paterno,@ap_Materno,@celular,@correo,@direccion,@documento_Ident)
	set @id_Cliente = Scope_Identity();
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Delete_Cliente]    Script Date: 15/08/2020 11:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[SP_Delete_Cliente]
@id_Cliente int
AS
BEGIN
	delete from tb_cliente where id_Cliente=@id_Cliente
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Select_Cliente]    Script Date: 15/08/2020 11:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Select_Cliente]
AS
BEGIN
	SELECT * FROM tb_cliente
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Update_Cliente]    Script Date: 15/08/2020 11:08:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[SP_Update_Cliente]
@id_cliente int,
@nombre varchar(50),
@ap_Paterno varchar(50),
@ap_Materno varchar(150),
@celular int,
@correo varchar(50),
@direccion varchar(50),
@documento_Ident int
AS
BEGIN
	UPDATE tb_cliente SET nombre=@nombre,ap_Paterno=@ap_Paterno,ap_Materno=@ap_Materno,celular=@celular,correo=@correo,direccion=@direccion,documento_Ident=@documento_Ident
	WHERE id_Cliente= @id_Cliente;
END
GO
USE [master]
GO
